body {
	background-color: #ecf0f1;
}

.container {
	background-color: #bdc3c7;
	max-width: 960px;
	min-height:900px;
	margin: 0 auto;
	padding: 0 30px;
}

h1 {
	text-align: center;
	font-family: 'Sofia', cursive;
	font-size: 54px;
	color: #3a3a3a;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 60px 0 10px 0;
	font-size: 18px;
	color: #3a3a3a;
}

.text {
	text-align: center;
}

/*.placeholder {
	width: 400px;
	height: 400px;
	background-image: url('../dog.png');
}*/

ul {
	margin: 100px auto;
	max-width: 742px;
}
li {

position: relative;
  list-style: none;
  padding-left: 1%;
  padding-bottom: 48px; 
  float: left;
}

li:nth-child(5),
li:nth-child(12),
li:nth-child(19) {
	margin-left: 78px;
}




.hexagon {
  position: relative;
  width: 150px; 
  height: 86.60px;
  background-size: auto 173.2051px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 21.97px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 150.0000px;
  height: 86.60254037844388px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -53.0330px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -53.0330px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 150.0000px;
  height: 86.6025px;
  z-index: 2;
  background: inherit;
}
