/* BODY, CONTAINER */

body {
	background-color: #d1d7db;
}

.container {
	background-color: #bdc3c7;
	max-width: 960px;
	min-height:900px;
	margin: 0 auto;
	padding: 0 30px;
	border-left: 1px solid #c9d0d4;
	border-right: 1px solid #c9d0d4;
}





/* HEADING, PARAGRAPH */

h1 {
	text-align: center;
	font-family: 'Sofia', cursive;
	font-size: 56px;
	color: #3a3a3a;
	text-shadow: 0 1px 0 #FFF;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 70px 0 20px 0;
	font-size: 21px;
	color: #3a3a3a;
	text-shadow: 0 1px 0 #cad0d4;
}

.text {
	text-align: center;
	margin: 0 auto;
	max-width: 600px;
}





/* BUTTONS */

.btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-shadow: 0 -1px 0 #1C9076;
}

.btn[type=submit] {
	text-shadow: none;
}

.greenButtonStyle {
	background-color: #2ABC9C;
	color: #f8f9f9;
	border: 1px solid #21ae8f;
	border-bottom: 2px solid #23a78a;
	margin-bottom: 3px;
}

.greenButtonStyle:hover,
.greenButtonStyle:focus {
	background-color: #39c7a8;
	color: #fff;
	border: none;
	border: 1px solid #29c5a3;
	border-bottom: 2px solid #2ABC9C;
}

.moreButton {
	margin: 0 auto;
}

/* INPUT */

.pickBreedButton {
	margin: 10px auto;
}

.pickBreedForm {
	display: none;
}

.pickBreedInput {
	text-align: center;
	margin: 10px auto;
	width: 240px;
	display: inline-block;
}




/* LIST */

ul {
	margin: 100px auto;
	max-width: 742px;
}
li {

position: relative;
  list-style: none;
  padding-left: 1%;
  padding-bottom: 48px; 
  float: left;
}

li:nth-child(5),
li:nth-child(12),
li:nth-child(19) {
	margin-left: 78px;
}






/* HEXAGON */

.hexagon {
  position: relative;
  width: 150px; 
  height: 86.60px;
  background-size: auto 173.2051px;
  background-position: center;
}

.hexagon:hover {
	opacity: .60;
	cursor: pointer;
}
.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 21.97px;
}

.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 150.0000px;
  height: 86.60254037844388px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -53.0330px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -53.0330px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 150.0000px;
  height: 86.6025px;
  z-index: 2;
  background: inherit;
}





/* LIGHTBOX */

.linkbtn {
	text-shadow: none;
}







